<%= form_with model: @payment, url: category_payments_path, method: :post, data: { turbo: false }, local: true do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :amount %>
    <%= form.number_field :amount, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :category_id, "Category" %>
    <%= form.select :category_id,[["Select Category", nil]] + Category.where(author_id: @user).pluck(:name, :id), {}, class: "form-control" %>
     <%# <%= form.collection_select :category_id, Category., :id, :name, class: "btn btn-primary" %>
  </div>
  <br />
  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>