<div class="cat-bar">
  <div class="content">
    <h4>Total Spent</h2>
    <h3 class="cat-cost">$<%= @total %></h3>
  </div>
</div>
<div class="cat-list">
<% @categories.each do |g| %>
    <%=link_to category_payments_path(g), class:"cat card" do %>
      <div class='cat-icon'>
        <img src="<%= g.icon %>" alt="Group Icon" width="50" height="50">
      </div>
    
      <div class='cat-info'>
        <h3><%= g.name %></h3>
        <span> <%= g.created_at.strftime("%B, %e at %H:%M") %> </span>
        
        </div>
        <h3 class="cat-cost">$<%= g.payments.sum(&:amount) %></h3>
        <%end%>
<% end %>
<%= link_to 'Back', root_path, class: 'btn btn-primary btn-sm' %>
<%= link_to 'Add a new Category', new_category_path, class: 'btn btn-primary btn-sm' %>
</div>